@charset "UTF-8";
/* 초기 설정 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: #dedede;
    font-family: 'Nanum Gothic', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    overflow-x: hidden;
    background-color: #000000;
}

/* 배경 */
.wrap{
    width: 100vw;
}

/* header */
.home-user-box{
    display: flex;
    justify-content: space-between;
    padding: 2em 9em;
}

.home-user-box > img{
    height: 7rem;
    width: 7rem;
    opacity: 0.5;
}

.home-user-box > .user-service{
    display: flex;
    width: 42rem;
}

.user-service > .search-box{
    display: flex;
    align-items: center;
    width: 30rem;
}

.search-box > input{
    width: 24rem;
    height: 3.3rem;
    border-radius: 15px;
    border: none;
    background-color: #161616;
    padding-left: 2em;
    font-size: 1.2rem;
    outline: none;
}

.search-box > img{
    width: 2rem;
    filter: invert(40%);
    margin-left: 1em;
    cursor: pointer;
    background-color: transparent;
}

.user-service .user-box{
    display: flex;
    align-items: center;
    height: 100%;
}

.user-service .user-box .user-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 9rem;
    height: 4rem;
    margin-top: 1em;
}

.user-wrap > span{
    cursor: pointer;
}

/* sns 로그인 */
.sns-img{
    display: flex;
    align-items: center;
    width: 10rem;
}

.sns-img img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 1em;
}

/* 메인페이지 영화 포스트 추천 슬라이드 */
.slide-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 76vh;
    margin-top: 3em;
}

.slide-container .slide-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 78%;
    overflow: hidden;
}

.slide-container .slide-box > img{
    margin-right: 2em;
    width: 17rem;
    height: 25rem;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 1s;
}

.slide-container .back, .next{
    position: absolute;
    width: 3rem;
    filter: invert(100%);
    opacity: 0.3;
    cursor: pointer;
    background-color: transparent;
}

.slide-container .back{
    display: none;
    left: 10rem;
}

.slide-container .next{
    right: 10rem;
}
