.mypage-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.mypage-wrap > .mypage-container{
    display: flex;
    justify-content: space-between;
    width: 103rem;
    height: fit-content;
}

/* FullCalendar */
#calendar{
    display: none;
    margin-top: 4em;
    width: 60rem;
    --fc-page-bg-color: #000000;
    --fc-today-bg-color: rgb(255 255 255 / 18%);
    --fc-neutral-bg-color: transparent;
    --fc-border-color: #7f7f7f;
}

/* 요일, 일자 간격 조정 */
thead > tr{
    height: 2.3rem;
}

.fc-col-header-cell.fc-day a{
    line-height: 2.3rem;
}

td.fc-day{
    height: 10rem;
}

/* 토요일 */
.fc-day.fc-day-sat .fc-daygrid-day-number{
    color:#0000FF;
}
/* 일요일 */
.fc-day.fc-day-sun .fc-daygrid-day-number{
    color:#FF0000;
}

/* My MEW 네비게이션 메뉴 - 앨범 내용 */
.album-area{
    display: none;
}

.album-area > .album-filter{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 63rem;
    height: 3rem;
    margin-top: 4em;
    padding-left: 1em;
}

.album-filter > button{
    width: 4.5rem;
    height: 2.3rem;
    margin-left: 0.5em;
    background-color: transparent;
    border: 2px solid #404040;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition-duration: 0.5s;
}

.album-filter > button:first-child{
    color: #7fe5ff;
    border-color: #7fe5ff;
}

.album-filter > button.genre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6.2rem;
}

.album-filter > button.genre > p{
    font-size: 0.8rem;
}

.album-filter > ul.genre-option{
    display: none;
    position: absolute;
    top: 2.6rem;
    width: 6.2rem;
    background-color: #000000;
    border: 2px solid #404040;
    border-radius: 5px;
}

.album-filter > ul.genre-option > li{
    height: 3rem;
    padding: 0.3em 1em;
    cursor: pointer;
}

.album-filter > ul.genre-option > li > p{
    font-size: 0.8rem;
    line-height: 2.5rem;
}

.album-filter > button:hover, .album-filter > ul.genre-option > li > p:hover{
    color: #7fe5ff;
    transition-duration: 0.5s;
}

.album-filter > ul.genre-toggle{
    display: block;
}

.album-area > .album-container{
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
}

.album-area > .album-container > img{
    width: 10rem;
    margin: 2em 2em 0 1em;
    cursor: pointer;
}

/* 마이페이지 마이 메뉴 */
nav.my-nav-area{
    display: flex;
    justify-content: flex-end;
    width: 35rem;
    padding: 4em;
}

nav.my-nav-area > .my-nav-container{
    width: 20rem;
}

.my-nav-container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 3rem;
    background-color: rgb(132 129 129 / 10%);
    padding: 0.8em 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.my-nav-container button.album-edit-btn{
    width: 3rem;
    height: 1.7rem;
    background-color: transparent;
    border: 2px solid #404040;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.my-nav-container span{
    margin-right: 1em;
}

.my-nav-container div.add-album-btn button{
    background-color: transparent;
    cursor: pointer;
    color: #7fe5ff;
    border: none;
}

/* 마이메뉴 현재 선택된 메뉴 */
.my-nav-container > div.now-btn{
    background-color: #161616;
}

/* 선택된 메뉴에 해당하는 컨텐츠 */
.mypage-container > div.on{
    display: block !important;
}

/* 앨범 추가 팝업창 */
.add-album-area, .modify-album-area{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.add-album-area > div.add-box, .modify-album-area > div.modify-box{
    position: relative;
    z-index: 120;
    width: 30rem;
    height: 20rem;
    background-color: #212121;
    border-radius: 10px;
    padding: 4em 3em;
}

.add-box > h4, .modify-box > h4{
    font-size: 1.3rem;
    color: #7fe5ff;
    margin-bottom: 1.2em;
}

.add-box > p, .modify-box > p{
    margin-bottom: 1em;
}

.add-box > input, .modify-box > input{
    width: 24rem;
    height: 3rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #7f7f7f;
    padding: 0.8em;
    margin-bottom: 1.5em;
}

.add-box > div, .modify-box > div{
    display: flex;
    justify-content: flex-end;
}

.add-box > div > button, .modify-box > div > button{
    width: 3rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    margin-left: 1em;
}

.add-box > div > button:hover, .modify-box > div > button:hover{
    color: #7fe5ff;
    transition-duration: 0.5s;
}

/* edit : 추가한 앨범 수정 및 삭제 */
.edit-area{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 8rem;
    height: 3rem;
}

.edit-area > button{
    background-color: #151515;
    height: 1.7rem;
    width: 3rem;
    border: 2px solid #404040;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.edit-toggle{
    display: flex;
}

/* 탑버튼 */
.wrap .top-btn{
    display: none;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
}

.wrap .top-btn img{
    width: 3rem;
    height: 3rem;
    filter: invert(85%);
    background-color: transparent;
    cursor: pointer;
}

.wrap .topOn{
    display: block;
}
